
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary d-flex flex-column">
    <div class="nav-bar-btn-toggler">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">            
            <span><i class="fas fa-home"></i></span>
        </button>                          
    </div>

    <div class="collapse navbar-collapse nav-content" id="navbarColor01">     
          <div class="contents d-flex align-items-center flex-column align-self-start">
              <div class="photo">
                    <p class="primary-text">Ronald Jose</p>
                    <div class="d-flex justify-content-center">
                      <img src="./../../../assets/images/German-Shep.jpg" alt="profile-photo" 
                          class="profile-photo">              
                    </div>       
        
                    <p class="primary-text">
                      I'm a software engineer specialized in fullstack development. Welcome
                      to my site.
                    </p>
                  
                    <div class="socials d-flex justify-content-center">
                        <div class="soc-icon linkedin-icon">                          
                          <img src="./../../../assets/images/linkedin.ico" 
                                alt="profile-photo" 
                                class="linkedin-img align-self-center">
                        </div> 
                        <div class="soc-icon github-icon">                        
                          <img src="./../../../assets/images/github.ico" 
                          alt="profile-photo" 
                          class="github-img align-self-center">
                        </div>
                        <div class="soc-icon facebook-icon">                          
                          <img src="./../../../assets/images/facebook.ico" 
                          alt="profile-photo" 
                          class="facebook-img align-self-center">
                        </div>                                                        
                    </div>
              </div>            
              <hr class="content-separator">
              <div class="menu">        
                    <div class="btn-group-toggle" data-toggle="buttons">
                      <label class="btn btn-primary col-12">                          
                        <input type="radio" name="options" id="option1" autocomplete="off" checked="" (click)="nav('/')"> About Me
                      </label>
                      <label class="btn btn-primary col-12">
                        <input type="radio" name="options" id="option2" autocomplete="off" (click)="nav('resume')"> Resume
                      </label>
                      <label class="btn btn-primary col-12 active">
                        <input type="radio" name="options" id="option3" autocomplete="off" (click)="nav('blog')"> Blog
                      </label>
                      <label class="btn btn-primary col-12 active">
                        <input type="radio" name="options" id="option4" autocomplete="off" (click)="nav('contact-me')"> Contact
                      </label>
                    </div>
              </div>
    
        </div>   
                                  
    </div>
  </nav>
</header>
  